.row-filter {
    --background: primary;
    color: white;
}

.searchbar {
    --placeholder-color: white;
    --placeholder-opacity: 0.9;
}

.nome-medicamento {
    padding-left: 5px;
}

.img-warning-estoque {
    padding-right: 10px;
}