<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Medicamentos</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="cancelarMedicamento()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="animated fadeInRightBig delay-1s" *ngIf="isEdicao()" (click)="excluirMedicamento()">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button class="animated fadeInRightBig" (click)="salvarMedicamento()">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="medicamentoForm">
        <ion-card class="p-top-2">
            <ion-img src="/assets/tarjas.png"></ion-img>
            <br>
            <ion-card>
               <h5 class="title-nome"><b>Nome do medicamento</b></h5>
            <ion-item>
                <ion-input color="primary" class="margin-default" clearInput autofocus="true" type="text" maxlength="18"
                    placeholder="Digite o nome do seu medicamento" formControlName="nome" autocapitalize="on">
                </ion-input>
            </ion-item>
            </ion-card>

            <ion-card class="padding-default">
                <ion-item lines="none">
                    <ion-label class="padding-default" color="primary"><b>Tipo de tratamento</b></ion-label>
                    <ion-select placeholder="Selecione" cancelText="Cancelar" doneText="OK"
                        formControlName="tipo_medicamento">
                        <ion-select-option value="continuo" for="toggle-1">Contínuo</ion-select-option>
                        <ion-select-option value="temporario">Temporário</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-card>

            <ion-card *ngIf="visualizarDuracao()" class="padding-default">
                <ion-item lines="none">
                    <ion-label class="padding-default" color="primary"><b>Utilizar Até</b></ion-label>
                    <ion-datetime min="2019-01" max="2030" displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY"
                        monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez" doneText="OK"
                        cancelText="Cancelar" placeholder="Selecione" formControlName="duracao"></ion-datetime>
                </ion-item>
            </ion-card>


            <ion-card class="padding-default">
                <ion-item lines="none">
                    <ion-label class="padding-default" color="primary"><b>Horário Utilização</b></ion-label>
                    <ion-datetime placeholder="Adicionar" cancelText="Cancelar" doneText="OK" display-format="HH:mm"
                        minuteValues="0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55" (ionChange)="addHorario($event)"
                        formControlName="horario"></ion-datetime>
                </ion-item>
            </ion-card>
            <ion-list>
                <div text-center lines="none" *ngIf="getValueForm('horarios').length == 0"
                    class="d-flex justify-content-center">
                    <p class="disable-text">Informe os horários de utilização...</p>
                </div>
                <ion-card *ngFor="let horario of getValueForm('horarios')">
                    <ion-item lines="none">
                        <ion-label class="horario" slot="start"><b>{{horario}}</b></ion-label>
                        <ion-button class="remover-horario" slot="end" color="danger" fill="clear" (click)="removerHorario(horario)">
                            <b>Remover</b>
                        </ion-button>
                    </ion-item>
                </ion-card>
            </ion-list>
        </ion-card>
        <br>

        <ion-item-divider color ="primary">
            <ion-label>
            <b>Dosagem</b>
            </ion-label>

        </ion-item-divider>

        <ion-item-group>
            <ion-label>
                <br>
                <ion-card class="padding-default">
                    <ion-item lines="none">
                        <ion-label class="padding-default" color="primary"><b>Dosagem</b></ion-label>
                        <ion-select placeholder="Selecione"  cancelText="Cancelar" doneText="OK"
                            formControlName="tipo_dosagem">

                            <ion-select-option value="CP">Comprimidos</ion-select-option>
                            <ion-select-option value="ML">ML(Mililitros)</ion-select-option>

                        </ion-select>
                    </ion-item>

                </ion-card>

                <ion-item *ngIf="visualizarCP()">
                    <ion-input class="margin-default" type="tel" maxlength="4" placeholder="Quantidade de comprimidos a tomar"
                        formControlName="dosagem"></ion-input>
                </ion-item>
                <ion-item *ngIf="visualizarML()">
                    <ion-input class="margin-default" type="tel" maxlength="4" placeholder="Quantidade de ML a tomar"
                        formControlName="dosagem"></ion-input>
                </ion-item>
                <br>

                <h2 color="primary" class="title-medida" *ngIf="visualizarMiligramas()"><b>Medida do medicamento</b></h2>
                <ion-card *ngIf="visualizarMiligramas()">
                <ion-item>
                    <ion-input class="margin-default" type="tel" maxlength="4" placeholder="Qual a medida do seu medicamento?" formControlName="miligramas">
                    </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="primary"><b>Selecione</b></ion-label>
                        <ion-select *ngIf="visualizarMiligramas()" cancelText="Cancelar" doneText="OK"
                            formControlName="MG">
                            <ion-select-option value="MG">MG</ion-select-option>
                            <ion-select-option value="MCG">MCG</ion-select-option>
                        </ion-select>
                    </ion-item>
                    </ion-card>

            </ion-label>
        </ion-item-group>

        <ion-item-divider color="primary">
            <ion-label>
                <b>Estoque</b>
            </ion-label>

        </ion-item-divider>

        <ion-item-group class="p-bottom-5">
            <br>
            <ion-card>
                <h5 color="primary" class="title-estoque"><b>Quantidade em Estoque</b></h5>
                <ion-item>
                <ion-input class="margin-default" type="tel" placeholder="Informe a quantidade que possui" maxlength="4" size="4" formControlName="estoque">
                    </ion-input>
                </ion-item>

                <h5 color="primary" class="title-estoque"><b>Lembrete de Reabastecimento</b></h5>
                <ion-item>
                    <ion-range class="range" pin="true" min="1" formControlName="lembrete">
                        <ion-label color="primary" slot="start"><b>min</b></ion-label>
                        <ion-label color="primary" slot="end"><b>máx</b></ion-label>
                    </ion-range>
                </ion-item>
            </ion-card>
        </ion-item-group>
    </form>
    <ion-button expand="block" size="large" class="animated fadeInRightBig"
        (click)="salvarMedicamento()">
        <b>Salvar</b>
        <ion-icon name="checkmark"></ion-icon>
    </ion-button>
</ion-content>