.margin-default {
    margin-top: 15px;
    margin-bottom: 15px;
}
.padding-default {
    padding-top: 15px;
    padding-bottom: 15px;
}

.title-estoque {
    color: black;
    padding-left: 10px;
}

.disable-text {
    font-size: 0.8rem;
}