<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Novo Usuário
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="d-flex justify-content-center p-top-5">
        <ion-img class="img-login" src="/assets/Medkit logo.jpg"></ion-img>
    </div>

    <form [formGroup]="form">
        <ion-list>
            <ion-item>
                <ion-label color="secondary" position="stacked">Nome</ion-label>
                <ion-input autofocus="true" formControlName="nome" type="text" maxlength="100" [value]="nome">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="secondary" position="stacked">Email</ion-label>
                <ion-input formControlName="email" type="email" maxlength="100" [value]="email">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="secondary" position="stacked">Senha</ion-label>
                <ion-input formControlName="senha" type="password" maxlength="12" minlength="6">
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-button mode="md" expand="block" size="medium" (click)="salvar()" [disabled]="form.invalid">Salvar
        </ion-button>
    </form>
</ion-content>