// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.icon-7em {
  size: 20em;
}


.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center
}

.justify-content-space-between {
    justify-content: space-between
}

.justify-content-start {
    justify-content: start
}

.justify-content-end {
    justify-content: end
}

.align-self-center {
    align-self: center;
}

.align-items-center{
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}
.p-top-5 {
    padding-top: 5rem;
}

.p-top-3 {
    padding-top: 3rem;
}

.p-top-2 {
    padding-top: 2rem;
}

.p-bottom-5 {
    padding-bottom: 5rem;
}

.disable-text {
    opacity: 0.5;
}

.img-login {
    width: 5rem;
}

.header-menu {
    background-color: #086fb4;
    padding-top: 30px;
    padding-bottom: 15px;
}

.color-white {
    color: white
}

.font-size-1-5rem {
    font-size: 1.5rem;
}

.empty-box-img {
    width: 70px;
}


.div-empty-box {
    padding-top: 250px;
}